/* Variables */
:root {
  --gray-offset: rgba(0, 0, 0, 0.03);
  --body-color: rgb(59, 65, 94);
  --headline-color: rgb(31, 26, 71);
  --accent-color: #0066f0;
  --body-font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  --radius: 6px;
  --form-width: 600px;
}

/* Base */
* {
  box-sizing: border-box;
}
body {
  font-family: var(--body-font-family);
  font-size: 16px;
  color: var(--body-color);
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headline-color);
  font-weight: normal;
  margin-top: 2px;
  margin-bottom: 4px;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}

ul {
  color: #8792a2;
  margin: 0;
  padding: 0;
}

ul.no-bullets {
  list-style-type: none;
}

ul li {
  line-height: 24px;
}

ul li div {
  color: var(--body-color)
}

ul ul {
  color: #c1c9d2;
  list-style-type: disc;
  margin-left: 18px;
}

/* Layout */
.sr-root {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 980px;
  padding: 48px;
  align-content: center;
  justify-content: center;
  height: auto;
  min-height: 100vh;
  margin: 0 auto;
}
.sr-header {
  margin-bottom: 32px;
}
.sr-payment-summary {
  margin-bottom: 20px;
}
.sr-main,
.sr-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-self: center;
}
.sr-main {
  width: var(--form-width);
}
.sr-header__logo {
  background-image: var(--logo-image);
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}

/* Links */
a {
  color: var(--accent-color);
  text-decoration: none;
  transition: all 0.2s ease;
}

a:hover {
  filter: brightness(0.8);
}

a:active {
  filter: brightness(0.5);
}

/* Code block */
.sr-callout {
  background: var(--gray-offset);
  padding: 12px;
  border-radius: var(--radius);
  max-height: 200px;
  overflow: auto;
}

code,
pre,
span.code {
  background: rgb(247, 250, 252);
  border-radius: var(--radius);
  border: 1px solid rgb(227, 232, 238);
  font-family: "SF Mono", "IBM Plex Mono", "Menlo", monospace;
}

code,
pre {
  padding: 6px 12px;
}

span.code {
  padding: 4px;
}

code.dark,
pre.dark {
  background: #4f566b;
  color: rgb(255, 255, 255);
  font-family: Menlo-Regular;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 20px;
}

span.code {
  font-family: "SF Mono", "IBM Plex Mono", "Menlo", monospace;
}

/* Responsiveness */
@media (max-width: 720px) {
  .sr-root {
    flex-direction: column;
    justify-content: flex-start;
    padding: 48px 20px;
    min-width: 320px;
  }

  .sr-header__logo {
    background-position: center;
  }

  .sr-payment-summary {
    text-align: center;
  }

  .sr-content {
    display: none;
  }

  .sr-main {
    width: 100%;
  }
}
