{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Stripe API v2",
    "description" : "The v2 endpoints of the Stripe REST API. Please see https://stripe.com/docs/api for more\n    details.",
    "termsOfService" : "https://stripe.com/us/terms/",
    "contact" : {
      "name" : "Stripe Dev Platform Team",
      "url" : "https://stripe.com",
      "email" : "dev-platform@stripe.com"
    },
    "version" : "2025-08-27.preview",
    "x-stripeSpecFilename" : "spec3.v2.preview.cli"
  },
  "servers" : [ {
    "url" : "https://api.stripe.com/"
  } ],
  "security" : [ {
    "basicAuth" : [ ],
    "bearerAuth" : [ ]
  } ],
  "paths" : {
    "/v2/core/accounts" : {
      "get" : {
        "description" : "Returns a list of Accounts.",
        "operationId" : "GetV2CoreAccounts",
        "parameters" : [ {
          "name" : "applied_configurations",
          "in" : "query",
          "description" : "Filter only accounts that have all of the configurations specified. If omitted, returns all accounts regardless of which configurations they have.",
          "required" : false,
          "style" : "deepObject",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The upper limit on the number of accounts returned by the List Account request.",
          "required" : false,
          "style" : "simple",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The page token to navigate to next or previous batch of accounts given by the list request.",
          "required" : false,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data", "next_page_url", "previous_page_url" ],
                  "type" : "object",
                  "properties" : {
                    "next_page_url" : {
                      "type" : "string",
                      "description" : "URL to fetch the next page of the list. If there are no more pages, the value is null.",
                      "nullable" : true
                    },
                    "previous_page_url" : {
                      "type" : "string",
                      "description" : "URL to fetch the previous page of the list. If there are no previous pages, the value is null.",
                      "nullable" : true
                    },
                    "data" : {
                      "type" : "array",
                      "description" : "A list of retrieved Account objects.",
                      "items" : {
                        "$ref" : "#/components/schemas/v2.core.account"
                      }
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/v2.error"
                  } ]
                }
              }
            }
          }
        },
        "x-stripeNotPublic" : true
      },
      "post" : {
        "description" : "An Account is a representation of a company, individual or other entity that a user interacts with. Accounts contain identifying information about the entity, and configurations that store the features an account has access to. An account can be configured as any or all of the following configurations: Customer, Merchant and/or Recipient.",
        "operationId" : "PostV2CoreAccounts",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "configuration" : {
                    "type" : "object",
                    "properties" : {
                      "customer" : {
                        "type" : "object",
                        "properties" : {
                          "automatic_indirect_tax" : {
                            "type" : "object",
                            "properties" : {
                              "exempt" : {
                                "type" : "string",
                                "description" : "Describes the customer's tax exemption status, which is `none`, `exempt`, or `reverse`. When set to reverse, invoice and receipt PDFs include the following text: “Reverse charge”.",
                                "enum" : [ "exempt", "none", "reverse" ]
                              },
                              "ip_address" : {
                                "type" : "string",
                                "description" : "A recent IP address of the customer used for tax reporting and tax location inference."
                              },
                              "location_source" : {
                                "type" : "string",
                                "description" : "The data source used to identify the customer's tax location - defaults to 'identity_address'. Will only be used for automatic tax calculation on the customer's Invoices and Subscriptions.",
                                "enum" : [ "identity_address", "ip_address", "shipping_address" ]
                              }
                            },
                            "description" : "Automatic indirect tax settings to be used when automatic tax calculation is enabled on the customer's invoices, subscriptions, checkout sessions, or payment links. Surfaces if automatic tax calculation is possible given the current customer location information."
                          },
                          "billing" : {
                            "type" : "object",
                            "properties" : {
                              "invoice" : {
                                "type" : "object",
                                "properties" : {
                                  "custom_fields" : {
                                    "type" : "array",
                                    "description" : "The list of up to 4 default custom fields to be displayed on invoices for this customer.",
                                    "items" : {
                                      "required" : [ "name", "value" ],
                                      "type" : "object",
                                      "properties" : {
                                        "name" : {
                                          "type" : "string",
                                          "description" : "The name of the custom field. This may be up to 40 characters."
                                        },
                                        "value" : {
                                          "type" : "string",
                                          "description" : "The value of the custom field. This may be up to 140 characters. When updating, pass an empty string to remove previously-defined values."
                                        }
                                      }
                                    }
                                  },
                                  "footer" : {
                                    "type" : "string",
                                    "description" : "Default footer to be displayed on invoices for this customer."
                                  },
                                  "next_sequence" : {
                                    "type" : "integer",
                                    "description" : "The sequence to be used on the customer's next invoice. Defaults to 1."
                                  },
                                  "prefix" : {
                                    "type" : "string",
                                    "description" : "The prefix for the customer used to generate unique invoice numbers. Must be 3–12 uppercase letters or numbers."
                                  },
                                  "rendering" : {
                                    "type" : "object",
                                    "properties" : {
                                      "amount_tax_display" : {
                                        "type" : "string",
                                        "description" : "How line-item prices and amounts will be displayed with respect to tax on invoice PDFs. One of exclude_tax or include_inclusive_tax. include_inclusive_tax will include inclusive tax (and exclude exclusive tax) in invoice PDF amounts. exclude_tax will exclude all tax (inclusive and exclusive alike) from invoice PDF amounts.",
                                        "enum" : [ "exclude_tax", "include_inclusive_tax" ]
                                      },
                                      "template" : {
                                        "type" : "string",
                                        "description" : "ID of the invoice rendering template to use for future invoices."
                                      }
                                    },
                                    "description" : "Default options for invoice PDF rendering for this customer."
                                  }
                                },
                                "description" : "Default settings used on invoices for this customer."
                              }
                            },
                            "description" : "Billing settings - default settings used for this customer in Billing flows such as Invoices and Subscriptions."
                          },
                          "capabilities" : {
                            "type" : "object",
                            "properties" : {
                              "automatic_indirect_tax" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Generates requirements for enabling automatic indirect tax calculation on this customer's invoices or subscriptions. Recommended to request this capability if planning to enable automatic tax calculation on this customer's invoices or subscriptions. Uses the `location_source` field."
                              }
                            },
                            "description" : "Capabilities that have been requested on the Customer Configuration."
                          },
                          "shipping" : {
                            "type" : "object",
                            "properties" : {
                              "address" : {
                                "type" : "object",
                                "properties" : {
                                  "city" : {
                                    "type" : "string",
                                    "description" : "City, district, suburb, town, or village."
                                  },
                                  "country" : {
                                    "type" : "string",
                                    "description" : "Two-letter country code ([ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2))."
                                  },
                                  "line1" : {
                                    "type" : "string",
                                    "description" : "Address line 1 (e.g., street, PO Box, or company name)."
                                  },
                                  "line2" : {
                                    "type" : "string",
                                    "description" : "Address line 2 (e.g., apartment, suite, unit, or building)."
                                  },
                                  "postal_code" : {
                                    "type" : "string",
                                    "description" : "ZIP or postal code."
                                  },
                                  "state" : {
                                    "type" : "string",
                                    "description" : "State, county, province, or region."
                                  }
                                },
                                "description" : "Customer shipping address."
                              },
                              "name" : {
                                "type" : "string",
                                "description" : "Customer name."
                              },
                              "phone" : {
                                "type" : "string",
                                "description" : "Customer phone (including extension)."
                              }
                            },
                            "description" : "The customer's shipping information. Appears on invoices emailed to this customer."
                          },
                          "test_clock" : {
                            "type" : "string",
                            "description" : "ID of the test clock to attach to the customer. Can only be set on testmode Accounts, and when the Customer Configuration is first set on an Account."
                          }
                        },
                        "description" : "The Customer Configuration allows the Account to be used in inbound payment flows."
                      },
                      "merchant" : {
                        "type" : "object",
                        "properties" : {
                          "bacs_debit_payments" : {
                            "type" : "object",
                            "properties" : {
                              "display_name" : {
                                "type" : "string",
                                "description" : "Display name for Bacs debit payments."
                              }
                            },
                            "description" : "Settings used for Bacs debit payments."
                          },
                          "branding" : {
                            "type" : "object",
                            "properties" : {
                              "icon" : {
                                "type" : "string",
                                "description" : "ID of a [file upload](https://docs.stripe.com/api/persons/update#create_file): An icon for the merchant. Must be square and at least 128px x 128px."
                              },
                              "logo" : {
                                "type" : "string",
                                "description" : "ID of a [file upload](https://docs.stripe.com/api/persons/update#create_file): A logo for the merchant that will be used in Checkout instead of the icon and without the merchant's name next to it if provided. Must be at least 128px x 128px."
                              },
                              "primary_color" : {
                                "type" : "string",
                                "description" : "A CSS hex color value representing the primary branding color for the merchant."
                              },
                              "secondary_color" : {
                                "type" : "string",
                                "description" : "A CSS hex color value representing the secondary branding color for the merchant."
                              }
                            },
                            "description" : "Settings used to apply the merchant's branding to email receipts, invoices, Checkout, and other products."
                          },
                          "capabilities" : {
                            "type" : "object",
                            "properties" : {
                              "ach_debit_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process ACH debit payments."
                              },
                              "acss_debit_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process ACSS debit payments."
                              },
                              "affirm_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process Affirm payments."
                              },
                              "afterpay_clearpay_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process Afterpay/Clearpay payments."
                              },
                              "alma_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process Alma payments."
                              },
                              "amazon_pay_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process Amazon Pay payments."
                              },
                              "au_becs_debit_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process Australian BECS Direct Debit payments."
                              },
                              "bacs_debit_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process BACS Direct Debit payments."
                              },
                              "bancontact_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process Bancontact payments."
                              },
                              "blik_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process BLIK payments."
                              },
                              "boleto_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process Boleto payments."
                              },
                              "card_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to collect card payments."
                              },
                              "cartes_bancaires_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process Cartes Bancaires payments."
                              },
                              "cashapp_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process Cash App payments."
                              },
                              "eps_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process EPS payments."
                              },
                              "fpx_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process FPX payments."
                              },
                              "gb_bank_transfer_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process UK bank transfer payments."
                              },
                              "grabpay_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process GrabPay payments."
                              },
                              "ideal_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process iDEAL payments."
                              },
                              "jcb_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process JCB card payments."
                              },
                              "jp_bank_transfer_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process Japanese bank transfer payments."
                              },
                              "kakao_pay_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process Kakao Pay payments."
                              },
                              "klarna_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process Klarna payments."
                              },
                              "konbini_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process Konbini convenience store payments."
                              },
                              "kr_card_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process Korean card payments."
                              },
                              "link_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process Link payments."
                              },
                              "mobilepay_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process MobilePay payments."
                              },
                              "multibanco_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process Multibanco payments."
                              },
                              "mx_bank_transfer_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process Mexican bank transfer payments."
                              },
                              "naver_pay_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process Naver Pay payments."
                              },
                              "oxxo_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process OXXO payments."
                              },
                              "p24_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process Przelewy24 (P24) payments."
                              },
                              "pay_by_bank_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process Pay by Bank payments."
                              },
                              "payco_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process PAYCO payments."
                              },
                              "paynow_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process PayNow payments."
                              },
                              "promptpay_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process PromptPay payments."
                              },
                              "revolut_pay_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process Revolut Pay payments."
                              },
                              "samsung_pay_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process Samsung Pay payments."
                              },
                              "sepa_bank_transfer_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process SEPA bank transfer payments."
                              },
                              "sepa_debit_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process SEPA Direct Debit payments."
                              },
                              "swish_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process Swish payments."
                              },
                              "twint_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process TWINT payments."
                              },
                              "us_bank_transfer_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process US bank transfer payments."
                              },
                              "zip_payments" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Allow the merchant to process Zip payments."
                              }
                            },
                            "description" : "Capabilities to request on the Merchant Configuration."
                          },
                          "card_payments" : {
                            "type" : "object",
                            "properties" : {
                              "decline_on" : {
                                "type" : "object",
                                "properties" : {
                                  "avs_failure" : {
                                    "type" : "boolean",
                                    "description" : "Whether Stripe automatically declines charges with an incorrect ZIP or postal code. This setting only applies when a ZIP or postal code is provided and they fail bank verification."
                                  },
                                  "cvc_failure" : {
                                    "type" : "boolean",
                                    "description" : "Whether Stripe automatically declines charges with an incorrect CVC. This setting only applies when a CVC is provided and it fails bank verification."
                                  }
                                },
                                "description" : "Automatically declines certain charge types regardless of whether the card issuer accepted or declined the charge."
                              }
                            },
                            "description" : "Card payments settings."
                          },
                          "mcc" : {
                            "type" : "string",
                            "description" : "The merchant category code for the Merchant Configuration. MCCs are used to classify businesses based on the goods or services they provide."
                          },
                          "statement_descriptor" : {
                            "type" : "object",
                            "properties" : {
                              "descriptor" : {
                                "type" : "string",
                                "description" : "The default text that appears on statements for non-card charges outside of Japan. For card charges, if you don’t set a statement_descriptor_prefix, this text is also used as the statement descriptor prefix. In that case, if concatenating the statement descriptor suffix causes the combined statement descriptor to exceed 22 characters, we truncate the statement_descriptor text to limit the full descriptor to 22 characters. For more information about statement descriptors and their requirements, see the Merchant Configuration settings documentation."
                              },
                              "prefix" : {
                                "type" : "string",
                                "description" : "Default text that appears on statements for card charges outside of Japan, prefixing any dynamic statement_descriptor_suffix specified on the charge. To maximize space for the dynamic part of the descriptor, keep this text short. If you don’t specify this value, statement_descriptor is used as the prefix. For more information about statement descriptors and their requirements, see the Merchant Configuration settings documentation."
                              }
                            },
                            "description" : "Statement descriptor."
                          },
                          "support" : {
                            "type" : "object",
                            "properties" : {
                              "address" : {
                                "required" : [ "country" ],
                                "type" : "object",
                                "properties" : {
                                  "city" : {
                                    "type" : "string",
                                    "description" : "City, district, suburb, town, or village."
                                  },
                                  "country" : {
                                    "type" : "string",
                                    "description" : "Two-letter country code ([ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2))."
                                  },
                                  "line1" : {
                                    "type" : "string",
                                    "description" : "Address line 1 (e.g., street, PO Box, or company name)."
                                  },
                                  "line2" : {
                                    "type" : "string",
                                    "description" : "Address line 2 (e.g., apartment, suite, unit, or building)."
                                  },
                                  "postal_code" : {
                                    "type" : "string",
                                    "description" : "ZIP or postal code."
                                  },
                                  "state" : {
                                    "type" : "string",
                                    "description" : "State, county, province, or region."
                                  },
                                  "town" : {
                                    "type" : "string",
                                    "description" : "Town or cho-me."
                                  }
                                },
                                "description" : "A publicly available mailing address for sending support issues to."
                              },
                              "email" : {
                                "type" : "string",
                                "description" : "A publicly available email address for sending support issues to."
                              },
                              "phone" : {
                                "type" : "string",
                                "description" : "A publicly available phone number to call with support issues."
                              },
                              "url" : {
                                "type" : "string",
                                "description" : "A publicly available website for handling support issues."
                              }
                            },
                            "description" : "Publicly available contact information for sending support issues to."
                          }
                        },
                        "description" : "The Merchant configuration allows the Account to act as a connected account and collect payments facilitated by a Connect platform. You can add this configuration to your connected accounts only if you’ve completed onboarding as a Connect platform."
                      },
                      "recipient" : {
                        "type" : "object",
                        "properties" : {
                          "capabilities" : {
                            "type" : "object",
                            "properties" : {
                              "bank_accounts" : {
                                "type" : "object",
                                "properties" : {
                                  "local" : {
                                    "required" : [ "requested" ],
                                    "type" : "object",
                                    "properties" : {
                                      "requested" : {
                                        "type" : "boolean",
                                        "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                      }
                                    },
                                    "description" : "Enables this Account to receive OutboundPayments to linked bank accounts over local networks."
                                  },
                                  "wire" : {
                                    "required" : [ "requested" ],
                                    "type" : "object",
                                    "properties" : {
                                      "requested" : {
                                        "type" : "boolean",
                                        "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                      }
                                    },
                                    "description" : "Enables this Account to receive OutboundPayments to linked bank accounts over wire."
                                  }
                                },
                                "description" : "Capabilities that enable OutboundPayments to a bank account linked to this Account."
                              },
                              "cards" : {
                                "required" : [ "requested" ],
                                "type" : "object",
                                "properties" : {
                                  "requested" : {
                                    "type" : "boolean",
                                    "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                  }
                                },
                                "description" : "Capabilities that enable OutboundPayments to a card linked to this Account."
                              },
                              "stripe_balance" : {
                                "type" : "object",
                                "properties" : {
                                  "stripe_transfers" : {
                                    "required" : [ "requested" ],
                                    "type" : "object",
                                    "properties" : {
                                      "requested" : {
                                        "type" : "boolean",
                                        "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                      }
                                    },
                                    "description" : "Allows the account to receive /v1/transfers into their Stripe Balance (/v1/balance)."
                                  }
                                },
                                "description" : "Capabilities that enable the recipient to manage their Stripe Balance (/v1/balance)."
                              }
                            },
                            "description" : "Capabilities to be requested on the Recipient Configuration."
                          }
                        },
                        "description" : "The Recipient Configuration allows the Account to receive funds."
                      },
                      "storer" : {
                        "type" : "object",
                        "properties" : {
                          "capabilities" : {
                            "type" : "object",
                            "properties" : {
                              "financial_addresses" : {
                                "type" : "object",
                                "properties" : {
                                  "bank_accounts" : {
                                    "required" : [ "requested" ],
                                    "type" : "object",
                                    "properties" : {
                                      "requested" : {
                                        "type" : "boolean",
                                        "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                      }
                                    },
                                    "description" : "Can provision a bank-account-like financial address (VBAN) to credit/debit a FinancialAccount."
                                  }
                                },
                                "description" : "Can provision a financial address to credit/debit a FinancialAccount."
                              },
                              "holds_currencies" : {
                                "type" : "object",
                                "properties" : {
                                  "gbp" : {
                                    "required" : [ "requested" ],
                                    "type" : "object",
                                    "properties" : {
                                      "requested" : {
                                        "type" : "boolean",
                                        "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                      }
                                    },
                                    "description" : "Can hold storage-type funds on Stripe in GBP."
                                  }
                                },
                                "description" : "Can hold storage-type funds on Stripe."
                              },
                              "inbound_transfers" : {
                                "type" : "object",
                                "properties" : {
                                  "bank_accounts" : {
                                    "required" : [ "requested" ],
                                    "type" : "object",
                                    "properties" : {
                                      "requested" : {
                                        "type" : "boolean",
                                        "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                      }
                                    },
                                    "description" : "Can pull funds from an external bank account owned by yourself to a FinancialAccount."
                                  }
                                },
                                "description" : "Can pull funds from an external source, owned by yourself, to a FinancialAccount."
                              },
                              "outbound_payments" : {
                                "type" : "object",
                                "properties" : {
                                  "bank_accounts" : {
                                    "required" : [ "requested" ],
                                    "type" : "object",
                                    "properties" : {
                                      "requested" : {
                                        "type" : "boolean",
                                        "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                      }
                                    },
                                    "description" : "Can send funds from a FinancialAccount to a bank account owned by someone else."
                                  },
                                  "cards" : {
                                    "required" : [ "requested" ],
                                    "type" : "object",
                                    "properties" : {
                                      "requested" : {
                                        "type" : "boolean",
                                        "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                      }
                                    },
                                    "description" : "Can send funds from a FinancialAccount to a debit card owned by someone else."
                                  },
                                  "financial_accounts" : {
                                    "required" : [ "requested" ],
                                    "type" : "object",
                                    "properties" : {
                                      "requested" : {
                                        "type" : "boolean",
                                        "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                      }
                                    },
                                    "description" : "Can send funds from a FinancialAccount to another FinancialAccount owned by someone else."
                                  }
                                },
                                "description" : "Can send funds from a FinancialAccount to a destination owned by someone else."
                              },
                              "outbound_transfers" : {
                                "type" : "object",
                                "properties" : {
                                  "bank_accounts" : {
                                    "required" : [ "requested" ],
                                    "type" : "object",
                                    "properties" : {
                                      "requested" : {
                                        "type" : "boolean",
                                        "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                      }
                                    },
                                    "description" : "Can send funds from a FinancialAccount to a bank account owned by yourself."
                                  },
                                  "financial_accounts" : {
                                    "required" : [ "requested" ],
                                    "type" : "object",
                                    "properties" : {
                                      "requested" : {
                                        "type" : "boolean",
                                        "description" : "To request a new Capability for an account, pass true. There can be a delay before the requested Capability becomes active."
                                      }
                                    },
                                    "description" : "Can send funds from a FinancialAccount to another FinancialAccount owned by yourself."
                                  }
                                },
                                "description" : "Can send funds from a FinancialAccount to a destination owned by yourself."
                              }
                            },
                            "description" : "Capabilities to request on the Storer Configuration."
                          }
                        },
                        "description" : "The Storer Configuration allows the Account to store and move funds using stored-value FinancialAccounts.",
                        "x-stripeNotPublic" : true
                      }
                    },
                    "description" : "An Account Configuration which allows the Account to take on a key persona across Stripe products."
                  },
                  "contact_email" : {
                    "type" : "string",
                    "description" : "The default contact email address for the Account. Required when configuring the account as a merchant or recipient."
                  },
                  "dashboard" : {
                    "type" : "string",
                    "description" : "A value indicating the Stripe dashboard this Account has access to. This will depend on which configurations are enabled for this account.",
                    "enum" : [ "express", "full", "none" ]
                  },
                  "defaults" : {
                    "type" : "object",
                    "properties" : {
                      "currency" : {
                        "type" : "string",
                        "description" : "Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies)."
                      },
                      "locales" : {
                        "type" : "array",
                        "description" : "The Account's preferred locales (languages), ordered by preference.",
                        "items" : {
                          "type" : "string",
                          "enum" : [ "ar-SA", "bg", "bg-BG", "cs", "cs-CZ", "da", "da-DK", "de", "de-DE", "el", "el-GR", "en", "en-AU", "en-CA", "en-GB", "en-IE", "en-IN", "en-NZ", "en-SG", "en-US", "es", "es-419", "es-ES", "et", "et-EE", "fi", "fil", "fil-PH", "fi-FI", "fr", "fr-CA", "fr-FR", "he-IL", "hr", "hr-HR", "hu", "hu-HU", "id", "id-ID", "it", "it-IT", "ja", "ja-JP", "ko", "ko-KR", "lt", "lt-LT", "lv", "lv-LV", "ms", "ms-MY", "mt", "mt-MT", "nb", "nb-NO", "nl", "nl-NL", "pl", "pl-PL", "pt", "pt-BR", "pt-PT", "ro", "ro-RO", "ru", "ru-RU", "sk", "sk-SK", "sl", "sl-SI", "sv", "sv-SE", "th", "th-TH", "tr", "tr-TR", "vi", "vi-VN", "zh", "zh-Hans", "zh-Hant-HK", "zh-Hant-TW", "zh-HK", "zh-TW" ]
                        }
                      },
                      "responsibilities" : {
                        "required" : [ "fees_collector", "losses_collector" ],
                        "type" : "object",
                        "properties" : {
                          "fees_collector" : {
                            "type" : "string",
                            "description" : "A value indicating the party responsible for collecting fees from this account.",
                            "enum" : [ "application", "stripe" ]
                          },
                          "losses_collector" : {
                            "type" : "string",
                            "description" : "A value indicating who is responsible for losses when this Account can’t pay back negative balances from payments.",
                            "enum" : [ "application", "stripe" ]
                          }
                        },
                        "description" : "Default responsibilities held by either Stripe or the platform."
                      }
                    },
                    "description" : "Default values to be used on Account Configurations."
                  },
                  "display_name" : {
                    "type" : "string",
                    "description" : "A descriptive name for the Account. This name will be surfaced in the Stripe Dashboard and on any invoices sent to the Account."
                  },
                  "identity" : {
                    "type" : "object",
                    "properties" : {
                      "attestations" : {
                        "type" : "object",
                        "properties" : {
                          "directorship_declaration" : {
                            "type" : "object",
                            "properties" : {
                              "date" : {
                                "type" : "string",
                                "description" : "The time marking when the director attestation was made. Represented as a RFC 3339 date & time UTC value in millisecond precision, for example: 2022-09-18T13:22:18.123Z.",
                                "format" : "date-time"
                              },
                              "ip" : {
                                "type" : "string",
                                "description" : "The IP address from which the director attestation was made."
                              },
                              "user_agent" : {
                                "type" : "string",
                                "description" : "The user agent of the browser from which the director attestation was made."
                              }
                            },
                            "description" : "This hash is used to attest that the directors information provided to Stripe is both current and correct."
                          },
                          "ownership_declaration" : {
                            "type" : "object",
                            "properties" : {
                              "date" : {
                                "type" : "string",
                                "description" : "The time marking when the beneficial owner attestation was made. Represented as a RFC 3339 date & time UTC value in millisecond precision, for example: 2022-09-18T13:22:18.123Z.",
                                "format" : "date-time"
                              },
                              "ip" : {
                                "type" : "string",
                                "description" : "The IP address from which the beneficial owner attestation was made."
                              },
                              "user_agent" : {
                                "type" : "string",
                                "description" : "The user agent of the browser from which the beneficial owner attestation was made."
                              }
                            },
                            "description" : "This hash is used to attest that the beneficial owner information provided to Stripe is both current and correct."
                          },
                          "persons_provided" : {
                            "type" : "object",
                            "properties" : {
                              "directors" : {
                                "type" : "boolean",
                                "description" : "Whether the company’s directors have been provided. Set this Boolean to true after creating all the company’s directors with the [Persons API](https://docs.stripe.com/api/v2/core/accounts/createperson)."
                              },
                              "executives" : {
                                "type" : "boolean",
                                "description" : "Whether the company’s executives have been provided. Set this Boolean to true after creating all the company’s executives with the [Persons API](https://docs.stripe.com/api/v2/core/accounts/createperson)."
                              },
                              "owners" : {
                                "type" : "boolean",
                                "description" : "Whether the company’s owners have been provided. Set this Boolean to true after creating all the company’s owners with the [Persons API](https://docs.stripe.com/api/v2/core/accounts/createperson)."
                              },
                              "ownership_exemption_reason" : {
                                "type" : "string",
                                "description" : "Reason for why the company is exempt from providing ownership information.",
                                "enum" : [ "qualified_entity_exceeds_ownership_threshold", "qualifies_as_financial_institution" ]
                              }
                            },
                            "description" : "Attestation that all Persons with a specific Relationship value have been provided."
                          },
                          "terms_of_service" : {
                            "type" : "object",
                            "properties" : {
                              "account" : {
                                "required" : [ "date", "ip" ],
                                "type" : "object",
                                "properties" : {
                                  "date" : {
                                    "type" : "string",
                                    "description" : "The time when the Account's representative accepted the terms of service. Represented as a RFC 3339 date & time UTC value in millisecond precision, for example: 2022-09-18T13:22:18.123Z.",
                                    "format" : "date-time"
                                  },
                                  "ip" : {
                                    "type" : "string",
                                    "description" : "The IP address from which the Account's representative accepted the terms of service."
                                  },
                                  "user_agent" : {
                                    "type" : "string",
                                    "description" : "The user agent of the browser from which the Account's representative accepted the terms of service."
                                  }
                                },
                                "description" : "Details on the Account's acceptance of the [Stripe Services Agreement](https://docs.stripe.com/connect/updating-accounts#tos-acceptance)."
                              },
                              "storer" : {
                                "required" : [ "date", "ip" ],
                                "type" : "object",
                                "properties" : {
                                  "date" : {
                                    "type" : "string",
                                    "description" : "The time when the Account's representative accepted the terms of service. Represented as a RFC 3339 date & time UTC value in millisecond precision, for example: 2022-09-18T13:22:18.123Z.",
                                    "format" : "date-time"
                                  },
                                  "ip" : {
                                    "type" : "string",
                                    "description" : "The IP address from which the Account's representative accepted the terms of service."
                                  },
                                  "user_agent" : {
                                    "type" : "string",
                                    "description" : "The user agent of the browser from which the Account's representative accepted the terms of service."
                                  }
                                },
                                "description" : "Details on the Account's acceptance of Treasury-specific terms of service.",
                                "x-stripeNotPublic" : true
                              }
                            },
                            "description" : "Attestations of accepted terms of service agreements."
                          }
                        },
                        "description" : "Attestations from the identity's key people, e.g. owners, executives, directors."
                      },
                      "business_details" : {
                        "type" : "object",
                        "properties" : {
                          "address" : {
                            "required" : [ "country" ],
                            "type" : "object",
                            "properties" : {
                              "city" : {
                                "type" : "string",
                                "description" : "City, district, suburb, town, or village."
                              },
                              "country" : {
                                "type" : "string",
                                "description" : "Two-letter country code ([ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2))."
                              },
                              "line1" : {
                                "type" : "string",
                                "description" : "Address line 1 (e.g., street, PO Box, or company name)."
                              },
                              "line2" : {
                                "type" : "string",
                                "description" : "Address line 2 (e.g., apartment, suite, unit, or building)."
                              },
                              "postal_code" : {
                                "type" : "string",
                                "description" : "ZIP or postal code."
                              },
                              "state" : {
                                "type" : "string",
                                "description" : "State, county, province, or region."
                              },
                              "town" : {
                                "type" : "string",
                                "description" : "Town or cho-me."
                              }
                            },
                            "description" : "The business registration address of the business entity."
                          },
                          "annual_revenue" : {
                            "type" : "object",
                            "properties" : {
                              "amount" : {
                                "type" : "object",
                                "properties" : {
                                  "amount" : {
                                    "type" : "integer",
                                    "description" : "A non-negative integer representing how much to charge in the [smallest currency unit](https://docs.stripe.com/currencies#minor-units).",
                                    "nullable" : false
                                  },
                                  "currency" : {
                                    "type" : "string",
                                    "description" : "Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).",
                                    "nullable" : false
                                  }
                                },
                                "description" : "A non-negative integer representing the amount in the smallest currency unit."
                              },
                              "fiscal_year_end" : {
                                "type" : "string",
                                "description" : "The close-out date of the preceding fiscal year in ISO 8601 format. E.g. 2023-12-31 for the 31st of December, 2023."
                              }
                            },
                            "description" : "The business gross annual revenue for its preceding fiscal year."
                          },
                          "documents" : {
                            "type" : "object",
                            "properties" : {
                              "bank_account_ownership_verification" : {
                                "required" : [ "files", "type" ],
                                "type" : "object",
                                "properties" : {
                                  "files" : {
                                    "type" : "array",
                                    "description" : "One or more document IDs returned by a [file upload](https://docs.stripe.com/api/persons/update#create_file) with a purpose value of `account_requirement`.",
                                    "items" : {
                                      "type" : "string"
                                    }
                                  },
                                  "type" : {
                                    "type" : "string",
                                    "description" : "The format of the document. Currently supports `files` only.",
                                    "enum" : [ "files" ]
                                  }
                                },
                                "description" : "One or more documents that support the bank account ownership verification requirement. Must be a document associated with the account’s primary active bank account that displays the last 4 digits of the account number, either a statement or a check."
                              },
                              "company_license" : {
                                "required" : [ "files", "type" ],
                                "type" : "object",
                                "properties" : {
                                  "files" : {
                                    "type" : "array",
                                    "description" : "One or more document IDs returned by a [file upload](https://docs.stripe.com/api/persons/update#create_file) with a purpose value of `account_requirement`.",
                                    "items" : {
                                      "type" : "string"
                                    }
                                  },
                                  "type" : {
                                    "type" : "string",
                                    "description" : "The format of the document. Currently supports `files` only.",
                                    "enum" : [ "files" ]
                                  }
                                },
                                "description" : "One or more documents that demonstrate proof of a company’s license to operate."
                              },
                              "company_memorandum_of_association" : {
                                "required" : [ "files", "type" ],
                                "type" : "object",
                                "properties" : {
                                  "files" : {
                                    "type" : "array",
                                    "description" : "One or more document IDs returned by a [file upload](https://docs.stripe.com/api/persons/update#create_file) with a purpose value of `account_requirement`.",
                                    "items" : {
                                      "type" : "string"
                                    }
                                  },
                                  "type" : {
                                    "type" : "string",
                                    "description" : "The format of the document. Currently supports `files` only.",
                                    "enum" : [ "files" ]
                                  }
                                },
                                "description" : "One or more documents showing the company’s Memorandum of Association."
                              },
                              "company_ministerial_decree" : {
                                "required" : [ "files", "type" ],
                                "type" : "object",
                                "properties" : {
                                  "files" : {
                                    "type" : "array",
                                    "description" : "One or more document IDs returned by a [file upload](https://docs.stripe.com/api/persons/update#create_file) with a purpose value of `account_requirement`.",
                                    "items" : {
                                      "type" : "string"
                                    }
                                  },
                                  "type" : {
                                    "type" : "string",
                                    "description" : "The format of the document. Currently supports `files` only.",
                                    "enum" : [ "files" ]
                                  }
                                },
                                "description" : "Certain countries only: One or more documents showing the ministerial decree legalizing the company’s establishment."
                              },
                              "company_registration_verification" : {
                                "required" : [ "files", "type" ],
                                "type" : "object",
                                "properties" : {
                                  "files" : {
                                    "type" : "array",
                                    "description" : "One or more document IDs returned by a [file upload](https://docs.stripe.com/api/persons/update#create_file) with a purpose value of `account_requirement`.",
                                    "items" : {
                                      "type" : "string"
                                    }
                                  },
                                  "type" : {
                                    "type" : "string",
                                    "description" : "The format of the document. Currently supports `files` only.",
                                    "enum" : [ "files" ]
                                  }
                                },
                                "description" : "One or more documents that demonstrate proof of a company’s registration with the appropriate local authorities."
                              },
                              "company_tax_id_verification" : {
                                "required" : [ "files", "type" ],
                                "type" : "object",
                                "properties" : {
                                  "files" : {
                                    "type" : "array",
                                    "description" : "One or more document IDs returned by a [file upload](https://docs.stripe.com/api/persons/update#create_file) with a purpose value of `account_requirement`.",
                                    "items" : {
                                      "type" : "string"
                                    }
                                  },
                                  "type" : {
                                    "type" : "string",
                                    "description" : "The format of the document. Currently supports `files` only.",
                                    "enum" : [ "files" ]
                                  }
                                },
                                "description" : "One or more documents that demonstrate proof of a company’s tax ID."
                              },
                              "primary_verification" : {
                                "required" : [ "front_back", "type" ],
                                "type" : "object",
                                "properties" : {
                                  "front_back" : {
                                    "required" : [ "front" ],
                                    "type" : "object",
                                    "properties" : {
                                      "back" : {
                                        "type" : "string",
                                        "description" : "A [file upload](https://docs.stripe.com/api/persons/update#create_file) token representing the back of the verification document. The purpose of the uploaded file should be 'identity_document'. The uploaded file needs to be a color image (smaller than 8,000px by 8,000px), in JPG, PNG, or PDF format, and less than 10 MB in size."
                                      },
                                      "front" : {
                                        "type" : "string",
                                        "description" : "A [file upload](https://docs.stripe.com/api/persons/update#create_file) token representing the front of the verification document. The purpose of the uploaded file should be 'identity_document'. The uploaded file needs to be a color image (smaller than 8,000px by 8,000px), in JPG, PNG, or PDF format, and less than 10 MB in size."
                                      }
                                    },
                                    "description" : "The [file upload](https://docs.stripe.com/api/persons/update#create_file) tokens referring to each side of the document."
                                  },
                                  "type" : {
                                    "type" : "string",
                                    "description" : "The format of the verification document. Currently supports `front_back` only.",
                                    "enum" : [ "front_back" ]
                                  }
                                },
                                "description" : "A document verifying the business."
                              },
                              "proof_of_address" : {
                                "required" : [ "files", "type" ],
                                "type" : "object",
                                "properties" : {
                                  "files" : {
                                    "type" : "array",
                                    "description" : "One or more document IDs returned by a [file upload](https://docs.stripe.com/api/persons/update#create_file) with a purpose value of `account_requirement`.",
                                    "items" : {
                                      "type" : "string"
                                    }
                                  },
                                  "type" : {
                                    "type" : "string",
                                    "description" : "The format of the document. Currently supports `files` only.",
                                    "enum" : [ "files" ]
                                  }
                                },
                                "description" : "One or more documents that demonstrate proof of address."
                              },
                              "proof_of_registration" : {
                                "required" : [ "files", "type" ],
                                "type" : "object",
                                "properties" : {
                                  "files" : {
                                    "type" : "array",
                                    "description" : "One or more document IDs returned by a [file upload](https://docs.stripe.com/api/persons/update#create_file) with a purpose value of `account_requirement`.",
                                    "items" : {
                                      "type" : "string"
                                    }
                                  },
                                  "type" : {
                                    "type" : "string",
                                    "description" : "The format of the document. Currently supports `files` only.",
                                    "enum" : [ "files" ]
                                  }
                                },
                                "description" : "One or more documents showing the company’s proof of registration with the national business registry."
                              },
                              "proof_of_ultimate_beneficial_ownership" : {
                                "required" : [ "files", "type" ],
                                "type" : "object",
                                "properties" : {
                                  "files" : {
                                    "type" : "array",
                                    "description" : "One or more document IDs returned by a [file upload](https://docs.stripe.com/api/persons/update#create_file) with a purpose value of `account_requirement`.",
                                    "items" : {
                                      "type" : "string"
                                    }
                                  },
                                  "type" : {
                                    "type" : "string",
                                    "description" : "The format of the document. Currently supports `files` only.",
                                    "enum" : [ "files" ]
                                  }
                                },
                                "description" : "One or more documents that demonstrate proof of ultimate beneficial ownership."
                              }
                            },
                            "description" : "A document verifying the business."
                          },
                          "doing_business_as" : {
                            "type" : "string",
                            "description" : "The name which is used by the business."
                          },
                          "estimated_worker_count" : {
                            "type" : "integer",
                            "description" : "An estimated upper bound of employees, contractors, vendors, etc. currently working for the business."
                          },
                          "id_numbers" : {
                            "type" : "array",
                            "description" : "The ID numbers of a business entity.",
                            "items" : {
                              "required" : [ "type", "value" ],
                              "type" : "object",
                              "properties" : {
                                "registrar" : {
                                  "type" : "string",
                                  "description" : "The registrar of the ID number (Only valid for DE ID number types)."
                                },
                                "type" : {
                                  "type" : "string",
                                  "description" : "Open Enum. The ID number type of a business entity.",
                                  "enum" : [ "ae_crn", "ae_vat", "ao_nif", "at_fn", "au_abn", "au_acn", "au_in", "az_tin", "bd_etin", "be_cbe", "bg_uic", "br_cnpj", "ca_cn", "ca_crarr", "ca_neq", "ca_rid", "ch_chid", "ch_uid", "cr_cpj", "cr_nite", "cy_tic", "cz_ico", "de_hrn", "de_vat", "dk_cvr", "do_rcn", "ee_rk", "es_cif", "fi_yt", "fr_siren", "fr_vat", "gb_crn", "gi_crn", "gr_gemi", "gt_nit", "hk_br", "hk_cr", "hk_mbs", "hu_cjs", "ie_crn", "it_rea", "it_vat", "jp_cn", "kz_bin", "li_uid", "lt_ccrn", "lu_rcs", "lv_urn", "mt_crn", "mx_rfc", "my_brn", "my_coid", "my_sst", "mz_nuit", "nl_kvk", "no_orgnr", "nz_bn", "pe_ruc", "pk_ntn", "pl_regon", "pt_vat", "ro_cui", "sa_crn", "sa_tin", "se_orgnr", "sg_uen", "si_msp", "sk_ico", "th_crn", "th_prn", "th_tin", "us_ein" ]
                                },
                                "value" : {
                                  "type" : "string",
                                  "description" : "The value of the ID number."
                                }
                              }
                            }
                          },
                          "monthly_estimated_revenue" : {
                            "type" : "object",
                            "properties" : {
                              "amount" : {
                                "type" : "object",
                                "properties" : {
                                  "amount" : {
                                    "type" : "integer",
                                    "description" : "A non-negative integer representing how much to charge in the [smallest currency unit](https://docs.stripe.com/currencies#minor-units).",
                                    "nullable" : false
                                  },
                                  "currency" : {
[...]
