{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Stripe API v2",
    "description" : "The v2 endpoints of the Stripe REST API. Please see https://stripe.com/docs/api for more\n    details.",
    "termsOfService" : "https://stripe.com/us/terms/",
    "contact" : {
      "name" : "Stripe Dev Platform Team",
      "url" : "https://stripe.com",
      "email" : "dev-platform@stripe.com"
    },
    "version" : "2025-02-24.acacia",
    "x-stripeSpecFilename" : "spec3.v2.sdk"
  },
  "servers" : [ {
    "url" : "https://api.stripe.com/"
  } ],
  "security" : [ {
    "basicAuth" : [ ],
    "bearerAuth" : [ ]
  } ],
  "paths" : {
    "/v2/core/events/{id}" : {
      "get" : {
        "description" : "Retrieves the details of an event.",
        "operationId" : "GetCoreEventsId",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier for the object.",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v2.core.event"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/v2.error.not_found"
                  } ]
                }
              }
            }
          }
        },
        "x-stripeErrors" : [ {
          "code" : "not_found",
          "description" : "The resource wasn't found.",
          "httpStatusCode" : 404
        } ]
      }
    },
    "/v2/billing/meter_event_session" : {
      "post" : {
        "description" : "Creates a meter event session to send usage on the high-throughput meter event stream. Authentication tokens are only valid for 15 minutes, so you will need to create a new meter event session when your token expires.",
        "operationId" : "PostBillingMeterEventSession",
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v2.billing.meter_event_session"
                }
              }
            }
          }
        }
      }
    },
    "/v2/core/event_destinations/{id}/enable" : {
      "post" : {
        "description" : "Enable an event destination.",
        "operationId" : "PostCoreEventDestinationsIdEnable",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identifier for the event destination to enable.",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v2.core.event_destination"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/v2.error.idempotency_error"
                  }, {
                    "$ref" : "#/components/schemas/v2.error.not_found"
                  } ]
                }
              }
            }
          }
        },
        "x-stripeErrors" : [ {
          "code" : "idempotency_error",
          "description" : "An idempotent retry occurred with different request parameters.",
          "httpStatusCode" : 409
        }, {
          "code" : "not_found",
          "description" : "The resource wasn't found.",
          "httpStatusCode" : 404
        } ]
      }
    },
    "/v2/core/event_destinations/{id}/disable" : {
      "post" : {
        "description" : "Disable an event destination.",
        "operationId" : "PostCoreEventDestinationsIdDisable",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identifier for the event destination to disable.",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v2.core.event_destination"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/v2.error.idempotency_error"
                  }, {
                    "$ref" : "#/components/schemas/v2.error.not_found"
                  } ]
                }
              }
            }
          }
        },
        "x-stripeErrors" : [ {
          "code" : "idempotency_error",
          "description" : "An idempotent retry occurred with different request parameters.",
          "httpStatusCode" : 409
        }, {
          "code" : "not_found",
          "description" : "The resource wasn't found.",
          "httpStatusCode" : 404
        } ]
      }
    },
    "/v2/billing/meter_event_adjustments" : {
      "post" : {
        "description" : "Creates a meter event adjustment to cancel a previously sent meter event.",
        "operationId" : "PostBillingMeterEventAdjustments",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "cancel", "event_name", "type" ],
                "type" : "object",
                "properties" : {
                  "cancel" : {
                    "required" : [ "identifier" ],
                    "type" : "object",
                    "properties" : {
                      "identifier" : {
                        "type" : "string",
                        "description" : "Unique identifier for the event. You can only cancel events within 24 hours of Stripe receiving them."
                      }
                    },
                    "description" : "Specifies which event to cancel."
                  },
                  "event_name" : {
                    "type" : "string",
                    "description" : "The name of the meter event. Corresponds with the `event_name` field on a meter."
                  },
                  "type" : {
                    "type" : "string",
                    "description" : "Specifies whether to cancel a single event or a range of events for a time period. Time period cancellation is not supported yet.",
                    "enum" : [ "cancel" ]
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v2.billing.meter_event_adjustment"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/v2.error.invalid_cancel_configuration"
                  } ]
                }
              }
            }
          }
        },
        "x-stripeErrors" : [ {
          "code" : "invalid_cancel_configuration",
          "description" : "The adjustment configuration is invalid for the adjustment type.",
          "httpStatusCode" : 400
        } ]
      }
    },
    "/v2/core/event_destinations/{id}/ping" : {
      "post" : {
        "description" : "Send a `ping` event to an event destination.",
        "operationId" : "PostCoreEventDestinationsIdPing",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identifier for the event destination to ping.",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v2.core.event"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/v2.error.not_found"
                  } ]
                }
              }
            }
          }
        },
        "x-stripeErrors" : [ {
          "code" : "not_found",
          "description" : "The resource wasn't found.",
          "httpStatusCode" : 404
        } ]
      }
    },
    "/v2/core/event_destinations" : {
      "get" : {
        "description" : "Lists all event destinations.",
        "operationId" : "GetCoreEventDestinations",
        "parameters" : [ {
          "name" : "include",
          "in" : "query",
          "description" : "Additional fields to include in the response. Currently supports `webhook_endpoint.url`.",
          "required" : false,
          "style" : "deepObject",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "webhook_endpoint.url" ]
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The page size.",
          "required" : false,
          "style" : "simple",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page.",
          "required" : false,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data", "next_page_url", "previous_page_url" ],
                  "properties" : {
                    "data" : {
                      "type" : "array",
                      "description" : "List of resources.",
                      "items" : {
                        "$ref" : "#/components/schemas/v2.core.event_destination"
                      }
                    },
                    "next_page_url" : {
                      "type" : "string",
                      "description" : "URL to fetch the next page of the list. If there are no more pages, the value is null.",
                      "nullable" : true
                    },
                    "previous_page_url" : {
                      "type" : "string",
                      "description" : "URL to fetch the previous page of the list. If there are no previous pages, the value is null.",
                      "nullable" : true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "description" : "Create a new event destination.",
        "operationId" : "PostCoreEventDestinations",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "enabled_events", "event_payload", "name", "type" ],
                "type" : "object",
                "properties" : {
                  "description" : {
                    "type" : "string",
                    "description" : "An optional description of what the event destination is used for."
                  },
                  "enabled_events" : {
                    "type" : "array",
                    "description" : "The list of events to enable for this endpoint.",
                    "items" : {
                      "type" : "string"
                    }
                  },
                  "enumeratively_enabled_all_events_during_creation" : {
                    "type" : "boolean",
                    "description" : "Internal field to track if all available events were selected during creation.\nWe do not allow wildcards (e.g., \"*\") to subscribe to all events in v2.\nThis field helps maintain compatibility with the existing dashboard functionality that allows selecting all events.",
                    "x-stripeNotPublic" : true
                  },
                  "event_payload" : {
                    "type" : "string",
                    "description" : "Payload type of events being subscribed to.",
                    "enum" : [ "snapshot", "thin" ]
                  },
                  "events_from" : {
                    "type" : "array",
                    "description" : "Where events should be routed from.",
                    "items" : {
                      "type" : "string",
                      "enum" : [ "other_accounts", "self" ]
                    }
                  },
                  "include" : {
                    "type" : "array",
                    "description" : "Additional fields to include in the response.",
                    "items" : {
                      "type" : "string",
                      "enum" : [ "webhook_endpoint.signing_secret", "webhook_endpoint.url" ]
                    }
                  },
                  "metadata" : {
                    "type" : "object",
                    "additionalProperties" : {
                      "type" : "string"
                    },
                    "description" : "Metadata."
                  },
                  "name" : {
                    "type" : "string",
                    "description" : "Event destination name."
                  },
                  "snapshot_api_version" : {
                    "type" : "string",
                    "description" : "If using the snapshot event payload, the API version events are rendered as."
                  },
                  "type" : {
                    "type" : "string",
                    "description" : "Event destination type.",
                    "enum" : [ "amazon_eventbridge", "reverse_api", "webhook_endpoint" ]
                  },
                  "amazon_eventbridge" : {
                    "required" : [ "aws_account_id", "aws_region" ],
                    "type" : "object",
                    "properties" : {
                      "aws_account_id" : {
                        "type" : "string",
                        "description" : "The AWS account ID."
                      },
                      "aws_region" : {
                        "type" : "string",
                        "description" : "The region of the AWS event source."
                      }
                    },
                    "description" : "Amazon EventBridge configuration."
                  },
                  "reverse_api" : {
                    "required" : [ "url" ],
                    "type" : "object",
                    "properties" : {
                      "url" : {
                        "type" : "string",
                        "description" : "The URL of the webhook endpoint."
                      }
                    },
                    "description" : "Reverse API configuration.",
                    "x-stripeNotPublic" : true
                  },
                  "webhook_endpoint" : {
                    "required" : [ "url" ],
                    "type" : "object",
                    "properties" : {
                      "url" : {
                        "type" : "string",
                        "description" : "The URL of the webhook endpoint."
                      }
                    },
                    "description" : "Webhook endpoint configuration."
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v2.core.event_destination"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/v2.error.idempotency_error"
                  } ]
                }
              }
            }
          }
        },
        "x-stripeErrors" : [ {
          "code" : "idempotency_error",
          "description" : "An idempotent retry occurred with different request parameters.",
          "httpStatusCode" : 409
        } ]
      }
    },
    "/v2/billing/meter_events" : {
      "post" : {
        "description" : "Creates a meter event. Events are validated synchronously, but are processed asynchronously. Supports up to 1,000 events per second in livemode. For higher rate-limits, please use meter event streams instead.",
        "operationId" : "PostBillingMeterEvents",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "event_name", "payload" ],
                "type" : "object",
                "properties" : {
                  "event_name" : {
                    "type" : "string",
                    "description" : "The name of the meter event. Corresponds with the `event_name` field on a meter."
                  },
                  "identifier" : {
                    "type" : "string",
                    "description" : "A unique identifier for the event. If not provided, one will be generated.\nWe recommend using a globally unique identifier for this. We’ll enforce\nuniqueness within a rolling 24 hour period."
                  },
                  "payload" : {
                    "type" : "object",
                    "additionalProperties" : {
                      "type" : "string"
                    },
                    "description" : "The payload of the event. This must contain the fields corresponding to a meter’s\n`customer_mapping.event_payload_key` (default is `stripe_customer_id`) and\n`value_settings.event_payload_key` (default is `value`). Read more about\nthe\n[payload](https://docs.stripe.com/billing/subscriptions/usage-based/recording-usage#payload-key-overrides)."
                  },
                  "timestamp" : {
                    "type" : "string",
                    "description" : "The time of the event. Must be within the past 35 calendar days or up to\n5 minutes in the future. Defaults to current timestamp if not specified.",
                    "format" : "date-time"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v2.billing.meter_event"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/v2.error.archived_meter"
                  }, {
                    "$ref" : "#/components/schemas/v2.error.duplicate_meter_event"
                  }, {
                    "$ref" : "#/components/schemas/v2.error.no_meter"
                  }, {
                    "$ref" : "#/components/schemas/v2.error.payload_invalid_value"
                  }, {
                    "$ref" : "#/components/schemas/v2.error.payload_no_customer_defined"
                  }, {
                    "$ref" : "#/components/schemas/v2.error.payload_no_value_defined"
                  }, {
                    "$ref" : "#/components/schemas/v2.error.too_many_concurrent_requests"
                  } ]
                }
              }
            }
          }
        },
        "x-stripeErrors" : [ {
          "code" : "archived_meter",
          "description" : "The meter must be Active to submit events.",
          "httpStatusCode" : 400
        }, {
          "code" : "duplicate_meter_event",
          "description" : "A meter event with a duplicate identifier has already been submitted.",
          "httpStatusCode" : 400
        }, {
          "code" : "no_meter",
          "description" : "A meter must exist to submit events.",
          "httpStatusCode" : 400
        }, {
          "code" : "payload_invalid_value",
          "description" : "The value must be a positive integer.",
          "httpStatusCode" : 400
        }, {
          "code" : "payload_no_customer_defined",
          "description" : "The payload must have a reference to the customer.",
          "httpStatusCode" : 400
        }, {
          "code" : "payload_no_value_defined",
          "description" : "The payload must have a value.",
          "httpStatusCode" : 400
        }, {
          "code" : "too_many_concurrent_requests",
          "description" : "Used to return 409s from the v2 synchronous endpoints in case of mongo write conflicts.\nThis is intentionally not a 429 per the guidance of #api-pattern-review-team.",
          "httpStatusCode" : 409
        } ]
      }
    },
    "/v2/billing/meter_event_stream" : {
      "post" : {
        "description" : "Creates meter events. Events are processed asynchronously, including validation. Requires a meter event session for authentication. Supports up to 10,000 requests per second in livemode. For even higher rate-limits, contact sales.",
        "operationId" : "PostBillingMeterEventStream",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "events" ],
                "type" : "object",
                "properties" : {
                  "events" : {
                    "type" : "array",
                    "description" : "List of meter events to include in the request.",
                    "items" : {
                      "required" : [ "event_name", "payload" ],
                      "type" : "object",
                      "properties" : {
                        "event_name" : {
                          "type" : "string",
                          "description" : "The name of the meter event. Corresponds with the `event_name` field on a meter."
                        },
                        "identifier" : {
                          "type" : "string",
                          "description" : "A unique identifier for the event. If not provided, one will be generated.\nWe recommend using a globally unique identifier for this. We’ll enforce\nuniqueness within a rolling 24 hour period."
                        },
                        "payload" : {
                          "type" : "object",
                          "additionalProperties" : {
                            "type" : "string"
                          },
                          "description" : "The payload of the event. This must contain the fields corresponding to a meter’s\n`customer_mapping.event_payload_key` (default is `stripe_customer_id`) and\n`value_settings.event_payload_key` (default is `value`). Read more about\nthe\n[payload](https://docs.stripe.com/billing/subscriptions/usage-based/recording-usage#payload-key-overrides)."
                        },
                        "timestamp" : {
                          "type" : "string",
                          "description" : "The time of the event. Must be within the past 35 calendar days or up to\n5 minutes in the future. Defaults to current timestamp if not specified.",
                          "format" : "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : { }
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/v2.error.billing_meter_event_session_expired"
                  } ]
                }
              }
            }
          }
        },
        "x-stripeErrors" : [ {
          "code" : "billing_meter_event_session_expired",
          "description" : "The temporary session token has expired.",
          "type" : "temporary_session_expired",
          "httpStatusCode" : 401
        } ]
      }
    },
    "/v2/core/events" : {
      "get" : {
        "description" : "List events, going back up to 30 days.",
        "operationId" : "GetCoreEvents",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "The page size.",
          "required" : false,
          "style" : "simple",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "object_id",
          "in" : "query",
          "description" : "Primary object ID used to retrieve related events.",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page.",
          "required" : false,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "required" : [ "data", "next_page_url", "previous_page_url" ],
                  "properties" : {
                    "data" : {
                      "type" : "array",
                      "description" : "List of resources.",
                      "items" : {
                        "$ref" : "#/components/schemas/v2.core.event"
                      }
                    },
                    "next_page_url" : {
                      "type" : "string",
                      "description" : "URL to fetch the next page of the list. If there are no more pages, the value is null.",
                      "nullable" : true
                    },
                    "previous_page_url" : {
                      "type" : "string",
                      "description" : "URL to fetch the previous page of the list. If there are no previous pages, the value is null.",
                      "nullable" : true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/core/event_destinations/{id}" : {
      "get" : {
        "description" : "Retrieves the details of an event destination.",
        "operationId" : "GetCoreEventDestinationsId",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identifier for the event destination to retrieve.",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Additional fields to include in the response.",
          "required" : false,
          "style" : "deepObject",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "webhook_endpoint.url" ]
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v2.core.event_destination"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/v2.error.not_found"
                  } ]
                }
              }
            }
          }
        },
        "x-stripeErrors" : [ {
          "code" : "not_found",
          "description" : "The resource wasn't found.",
          "httpStatusCode" : 404
        } ]
      },
      "post" : {
        "description" : "Update the details of an event destination.",
        "operationId" : "PostCoreEventDestinationsId",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identifier for the event destination to update.",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "description" : {
                    "type" : "string",
                    "description" : "An optional description of what the event destination is used for."
                  },
                  "enabled_events" : {
                    "type" : "array",
                    "description" : "The list of events to enable for this endpoint.",
                    "items" : {
                      "type" : "string"
                    }
                  },
                  "include" : {
                    "type" : "array",
                    "description" : "Additional fields to include in the response. Currently supports `webhook_endpoint.url`.",
                    "items" : {
                      "type" : "string",
                      "enum" : [ "webhook_endpoint.url" ]
                    }
                  },
                  "metadata" : {
                    "type" : "object",
                    "additionalProperties" : {
                      "type" : "string"
                    },
                    "description" : "Metadata."
                  },
                  "name" : {
                    "type" : "string",
                    "description" : "Event destination name."
                  },
                  "webhook_endpoint" : {
                    "required" : [ "url" ],
                    "type" : "object",
                    "properties" : {
                      "url" : {
                        "type" : "string",
                        "description" : "The URL of the webhook endpoint."
                      }
                    },
                    "description" : "Webhook endpoint configuration."
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v2.core.event_destination"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/v2.error.idempotency_error"
                  }, {
                    "$ref" : "#/components/schemas/v2.error.not_found"
                  } ]
                }
              }
            }
          }
        },
        "x-stripeErrors" : [ {
          "code" : "idempotency_error",
          "description" : "An idempotent retry occurred with different request parameters.",
          "httpStatusCode" : 409
        }, {
          "code" : "not_found",
          "description" : "The resource wasn't found.",
          "httpStatusCode" : 404
        } ]
      },
      "delete" : {
        "description" : "Delete an event destination.",
        "operationId" : "DeleteCoreEventDestinationsId",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identifier for the event destination to delete.",
          "required" : true,
          "style" : "simple",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "default" : {
            "description" : "Error response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/v2.error.idempotency_error"
                  }, {
                    "$ref" : "#/components/schemas/v2.error.not_found"
                  } ]
                }
              }
            }
          }
        },
        "x-stripeErrors" : [ {
          "code" : "idempotency_error",
          "description" : "An idempotent retry occurred with different request parameters.",
          "httpStatusCode" : 409
        }, {
          "code" : "not_found",
          "description" : "The resource wasn't found.",
          "httpStatusCode" : 404
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "v1.billing.meter.error_report_triggered" : {
        "required" : [ "data", "related_object", "type" ],
        "type" : "object",
        "properties" : {
          "data" : {
            "required" : [ "developer_message_summary", "reason", "validation_end", "validation_start" ],
            "type" : "object",
            "properties" : {
              "reason" : {
                "required" : [ "error_count", "error_types" ],
                "type" : "object",
                "properties" : {
                  "error_count" : {
                    "type" : "integer",
                    "description" : "The total error count within this window."
                  },
                  "error_types" : {
                    "type" : "array",
                    "description" : "The error details.",
                    "items" : {
                      "required" : [ "code", "error_count", "sample_errors" ],
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Open Enum.",
                          "enum" : [ "archived_meter", "meter_event_customer_not_found", "meter_event_dimension_count_too_high", "meter_event_invalid_value", "meter_event_no_customer_defined", "missing_dimension_payload_keys", "no_meter", "timestamp_in_future", "timestamp_too_far_in_past" ]
                        },
                        "error_count" : {
                          "type" : "integer",
                          "description" : "The number of errors of this type."
                        },
                        "sample_errors" : {
                          "type" : "array",
                          "description" : "A list of sample errors of this type.",
                          "items" : {
                            "required" : [ "error_message", "request" ],
                            "type" : "object",
                            "properties" : {
                              "error_message" : {
                                "type" : "string",
                                "description" : "The error message."
                              },
                              "request" : {
                                "required" : [ "identifier" ],
                                "type" : "object",
                                "properties" : {
                                  "identifier" : {
                                    "type" : "string",
                                    "description" : "The request idempotency key."
                                  }
                                },
                                "description" : "The request causes the error."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "description" : "This contains information about why meter error happens."
              },
              "developer_message_summary" : {
                "type" : "string",
                "description" : "Extra field included in the event's `data` when fetched from /v2/events."
              },
              "validation_start" : {
                "type" : "string",
                "description" : "The start of the window that is encapsulated by this summary.",
                "format" : "date-time"
              },
              "validation_end" : {
                "type" : "string",
                "description" : "The end of the window that is encapsulated by this summary.",
                "format" : "date-time"
              }
            },
            "description" : "Additional data about the event."
          },
          "related_object" : {
            "required" : [ "type" ],
            "type" : "object",
            "properties" : {
              "type" : {
                "type" : "string",
                "description" : "Object tag of the resource relevant to the event.",
                "enum" : [ "billing.meter" ]
              }
            },
            "description" : "Object containing the reference to API resource relevant to the event."
          },
          "type" : {
            "type" : "string",
            "description" : "The type of the event.",
            "enum" : [ "v1.billing.meter.error_report_triggered" ]
          }
        },
        "description" : "This event occurs when there are invalid async usage events for a given meter.",
        "x-stripeEvent" : {
          "kind" : "thin",
          "type" : "v1.billing.meter.error_report_triggered"
        }
      },
      "v1.billing.meter.no_meter_found" : {
        "required" : [ "data", "type" ],
        "type" : "object",
        "properties" : {
          "data" : {
            "required" : [ "developer_message_summary", "reason", "validation_end", "validation_start" ],
            "type" : "object",
            "properties" : {
              "reason" : {
                "required" : [ "error_count", "error_types" ],
                "type" : "object",
                "properties" : {
                  "error_count" : {
                    "type" : "integer",
                    "description" : "The total error count within this window."
                  },
                  "error_types" : {
                    "type" : "array",
                    "description" : "The error details.",
                    "items" : {
                      "required" : [ "code", "error_count", "sample_errors" ],
                      "type" : "object",
                      "properties" : {
                        "code" : {
                          "type" : "string",
                          "description" : "Open Enum.",
                          "enum" : [ "archived_meter", "meter_event_customer_not_found", "meter_event_dimension_count_too_high", "meter_event_invalid_value", "meter_event_no_customer_defined", "missing_dimension_payload_keys", "no_meter", "timestamp_in_future", "timestamp_too_far_in_past" ]
                        },
                        "error_count" : {
                          "type" : "integer",
                          "description" : "The number of errors of this type."
                        },
                        "sample_errors" : {
                          "type" : "array",
                          "description" : "A list of sample errors of this type.",
                          "items" : {
                            "required" : [ "error_message", "request" ],
                            "type" : "object",
                            "properties" : {
                              "error_message" : {
                                "type" : "string",
                                "description" : "The error message."
                              },
                              "request" : {
                                "required" : [ "identifier" ],
                                "type" : "object",
                                "properties" : {
                                  "identifier" : {
                                    "type" : "string",
                                    "description" : "The request idempotency key."
                                  }
                                },
                                "description" : "The request causes the error."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "description" : "This contains information about why meter error happens."
              },
              "developer_message_summary" : {
                "type" : "string",
                "description" : "Extra field included in the event's `data` when fetched from /v2/events."
              },
              "validation_start" : {
                "type" : "string",
                "description" : "The start of the window that is encapsulated by this summary.",
                "format" : "date-time"
              },
              "validation_end" : {
                "type" : "string",
                "description" : "The end of the window that is encapsulated by this summary.",
                "format" : "date-time"
              }
            },
            "description" : "Additional data about the event."
          },
          "type" : {
            "type" : "string",
            "description" : "The type of the event.",
            "enum" : [ "v1.billing.meter.no_meter_found" ]
          }
        },
        "description" : "This event occurs when async usage events have missing or invalid meter ids.",
        "x-stripeEvent" : {
          "kind" : "thin",
          "type" : "v1.billing.meter.no_meter_found"
        }
      },
      "v2.billing.meter_event" : {
        "required" : [ "created", "event_name", "identifier", "livemode", "object", "payload", "timestamp" ],
        "type" : "object",
        "properties" : {
          "created" : {
            "type" : "string",
            "description" : "The creation time of this meter event.",
            "format" : "date-time"
          },
          "event_name" : {
            "type" : "string",
            "description" : "The name of the meter event. Corresponds with the `event_name` field on a meter."
          },
          "identifier" : {
            "type" : "string",
            "description" : "A unique identifier for the event. If not provided, one will be generated. We recommend using a globally unique identifier for this. We’ll enforce uniqueness within a rolling 24 hour period."
          },
          "livemode" : {
            "type" : "boolean",
            "description" : "Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode."
          },
          "object" : {
            "type" : "string",
            "description" : "String representing the object's type. Objects of the same type share the same value of the object field.",
            "enum" : [ "v2.billing.meter_event" ]
          },
          "payload" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "The payload of the event. This must contain the fields corresponding to a meter’s\n`customer_mapping.event_payload_key` (default is `stripe_customer_id`) and\n`value_settings.event_payload_key` (default is `value`). Read more about the payload."
          },
          "timestamp" : {
            "type" : "string",
            "description" : "The time of the event. Must be within the past 35 calendar days or up to\n5 minutes in the future. Defaults to current timestamp if not specified.",
            "format" : "date-time"
          }
        },
        "description" : "Fix me empty_doc_string.",
        "x-resourceId" : "v2.billing.meter_event",
        "x-stripeResource" : {
          "in_package" : "v2.billing",
          "class_name" : "MeterEvent"
        },
        "x-stripeOperations" : [ {
          "method_name" : "create",
          "method_on" : "service",
          "method_type" : "create",
          "operation" : "post",
          "path" : "/v2/billing/meter_events"
        } ]
      },
      "v2.billing.meter_event_adjustment" : {
        "required" : [ "cancel", "created", "event_name", "id", "livemode", "object", "status", "type" ],
        "type" : "object",
        "properties" : {
          "cancel" : {
            "required" : [ "identifier" ],
            "type" : "object",
            "properties" : {
              "identifier" : {
                "type" : "string",
                "description" : "Unique identifier for the event. You can only cancel events within 24 hours of Stripe receiving them."
              }
            },
            "description" : "Specifies which event to cancel."
          },
          "created" : {
            "type" : "string",
            "description" : "The time the adjustment was created.",
            "format" : "date-time"
          },
          "event_name" : {
            "type" : "string",
            "description" : "The name of the meter event. Corresponds with the `event_name` field on a meter."
          },
          "id" : {
            "type" : "string",
            "description" : "The unique id of this meter event adjustment."
          },
          "livemode" : {
            "type" : "boolean",
            "description" : "Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode."
          },
          "object" : {
            "type" : "string",
            "description" : "String representing the object's type. Objects of the same type share the same value of the object field.",
            "enum" : [ "v2.billing.meter_event_adjustment" ]
          },
          "status" : {
            "type" : "string",
            "description" : "Open Enum. The meter event adjustment’s status.",
            "enum" : [ "complete", "pending" ]
          },
          "type" : {
            "type" : "string",
            "description" : "Open Enum. Specifies whether to cancel a single event or a range of events for a time period. Time period cancellation is not supported yet.",
            "enum" : [ "cancel" ]
          }
        },
        "x-resourceId" : "v2.billing.meter_event_adjustment",
        "x-stripeResource" : {
          "in_package" : "v2.billing",
          "class_name" : "MeterEventAdjustment"
        },
        "x-stripeOperations" : [ {
          "method_name" : "create",
          "method_on" : "service",
          "method_type" : "create",
          "operation" : "post",
          "path" : "/v2/billing/meter_event_adjustments"
        } ]
      },
      "v2.billing.meter_event_session" : {
        "required" : [ "authentication_token", "created", "expires_at", "id", "livemode", "object" ],
        "type" : "object",
        "properties" : {
          "authentication_token" : {
            "type" : "string",
            "description" : "The authentication token for this session.  Use this token when calling the\nhigh-throughput meter event API."
          },
          "created" : {
            "type" : "string",
            "description" : "The creation time of this session.",
            "format" : "date-time"
          },
          "expires_at" : {
            "type" : "string",
            "description" : "The time at which this session will expire.",
            "format" : "date-time"
          },
          "id" : {
            "type" : "string",
            "description" : "The unique id of this auth session."
          },
          "livemode" : {
            "type" : "boolean",
            "description" : "Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode."
          },
          "object" : {
            "type" : "string",
            "description" : "String representing the object's type. Objects of the same type share the same value of the object field.",
            "enum" : [ "v2.billing.meter_event_session" ]
          }
        },
        "x-resourceId" : "v2.billing.meter_event_session",
        "x-stripeResource" : {
          "in_package" : "v2.billing",
          "class_name" : "MeterEventSession"
        },
        "x-stripeOperations" : [ {
          "method_name" : "create",
          "method_on" : "service",
          "method_type" : "create",
          "operation" : "post",
          "path" : "/v2/billing/meter_event_session"
        } ]
      },
      "v2.core.event" : {
        "required" : [ "created", "id", "livemode", "object", "type" ],
        "type" : "object",
        "properties" : {
          "changes" : {
            "description" : "Before and after changes for the primary related object.",
            "x-stripeNotPublic" : true
          },
          "context" : {
            "type" : "string",
            "description" : "Authentication context needed to fetch the event or related object."
          },
          "created" : {
            "type" : "string",
            "description" : "Time at which the object was created.",
            "format" : "date-time"
          },
          "data" : {
            "description" : "Additional data about the event."
          },
          "id" : {
            "type" : "string",
            "description" : "Unique identifier for the event."
          },
          "livemode" : {
            "type" : "boolean",
            "description" : "Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode."
          },
          "object" : {
            "type" : "string",
            "description" : "String representing the object's type. Objects of the same type share the same value of the object field.",
            "enum" : [ "v2.core.event" ]
          },
          "reason" : {
            "required" : [ "type" ],
            "type" : "object",
            "properties" : {
              "type" : {
                "type" : "string",
                "description" : "Event reason type.",
                "enum" : [ "request" ]
              },
              "request" : {
                "required" : [ "id", "idempotency_key" ],
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "ID of the API request that caused the event."
                  },
                  "idempotency_key" : {
                    "type" : "string",
                    "description" : "The idempotency key transmitted during the request."
                  }
                },
                "description" : "Information on the API request that instigated the event."
              }
            },
            "description" : "Reason for the event."
          },
          "related_object" : {
            "required" : [ "id", "type", "url" ],
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Unique identifier for the object relevant to the event."
              },
              "type" : {
                "type" : "string",
                "description" : "Object tag of the resource relevant to the event."
              },
              "url" : {
                "type" : "string",
                "description" : "URL to retrieve the resource."
              }
            },
            "description" : "Object containing the reference to API resource relevant to the event."
          },
          "type" : {
            "type" : "string",
            "description" : "The type of the event."
          }
        },
        "x-resourceId" : "v2.core.event",
        "x-stripeResource" : {
          "in_package" : "v2.core",
          "class_name" : "Event"
        },
        "x-stripeOperations" : [ {
          "method_name" : "ping",
          "method_on" : "service",
          "method_type" : "custom",
          "operation" : "post",
          "path" : "/v2/core/event_destinations/{id}/ping"
        }, {
          "method_name" : "list",
          "method_on" : "service",
          "method_type" : "list",
          "operation" : "get",
          "path" : "/v2/core/events"
        }, {
          "method_name" : "retrieve",
          "method_on" : "service",
          "method_type" : "retrieve",
          "operation" : "get",
          "path" : "/v2/core/events/{id}"
        } ]
      },
      "v2.core.event_destination" : {
        "required" : [ "created", "description", "enabled_events", "event_payload", "id", "livemode", "name", "object", "status", "type", "updated" ],
        "type" : "object",
        "properties" : {
          "created" : {
            "type" : "string",
            "description" : "Time at which the object was created.",
            "format" : "date-time"
          },
          "description" : {
            "type" : "string",
            "description" : "An optional description of what the event destination is used for."
          },
          "enabled_events" : {
            "type" : "array",
            "description" : "The list of events to enable for this endpoint.",
            "items" : {
              "type" : "string"
            }
          },
          "event_payload" : {
            "type" : "string",
            "description" : "Payload type of events being subscribed to.",
            "enum" : [ "snapshot", "thin" ]
          },
          "events_from" : {
            "type" : "array",
            "description" : "Where events should be routed from.",
            "items" : {
              "type" : "string",
              "enum" : [ "other_accounts", "self" ]
            }
          },
          "id" : {
            "type" : "string",
            "description" : "Unique identifier for the object."
          },
          "livemode" : {
            "type" : "boolean",
            "description" : "Has the value `true` if the object exists in live mode or the value `false` if the object exists in test mode."
          },
          "metadata" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "Metadata."
          },
          "name" : {
            "type" : "string",
            "description" : "Event destination name."
          },
          "object" : {
            "type" : "string",
            "description" : "String representing the object's type. Objects of the same type share the same value of the object field.",
            "enum" : [ "v2.core.event_destination" ]
          },
          "snapshot_api_version" : {
            "type" : "string",
            "description" : "If using the snapshot event payload, the API version events are rendered as."
          },
          "status" : {
            "type" : "string",
            "description" : "Status. It can be set to either enabled or disabled.",
            "enum" : [ "disabled", "enabled" ]
          },
          "status_details" : {
            "type" : "object",
            "properties" : {
              "disabled" : {
                "required" : [ "reason" ],
                "type" : "object",
                "properties" : {
                  "reason" : {
                    "type" : "string",
                    "description" : "Reason event destination has been disabled.",
                    "enum" : [ "no_aws_event_source_exists", "user" ]
                  }
                },
                "description" : "Details about why the event destination has been disabled."
              }
            },
            "description" : "Additional information about event destination status."
          },
          "type" : {
            "type" : "string",
            "description" : "Event destination type.",
            "enum" : [ "amazon_eventbridge", "reverse_api", "webhook_endpoint" ]
          },
          "updated" : {
            "type" : "string",
            "description" : "Time at which the object was last updated.",
            "format" : "date-time"
          },
          "amazon_eventbridge" : {
            "required" : [ "aws_account_id", "aws_event_source_arn", "aws_event_source_status" ],
            "type" : "object",
            "properties" : {
              "aws_account_id" : {
                "type" : "string",
                "description" : "The AWS account ID."
              },
              "aws_event_source_arn" : {
                "type" : "string",
                "description" : "The ARN of the AWS event source."
              },
              "aws_event_source_status" : {
                "type" : "string",
                "description" : "The state of the AWS event source.",
                "enum" : [ "active", "deleted", "pending", "unknown" ]
              }
            },
            "description" : "Amazon EventBridge configuration."
          },
          "reverse_api" : {
            "required" : [ "url" ],
            "type" : "object",
            "properties" : {
              "url" : {
                "type" : "string",
                "description" : "The URL of the webhook endpoint."
              }
            },
            "description" : "Reverse API configuration.",
            "x-stripeNotPublic" : true
          },
          "webhook_endpoint" : {
            "type" : "object",
            "properties" : {
              "signing_secret" : {
                "type" : "string",
                "description" : "The signing secret of the webhook endpoint, only includable on creation."
              },
              "url" : {
                "type" : "string",
                "description" : "The URL of the webhook endpoint, includable."
              }
            },
            "description" : "Webhook endpoint configuration."
          }
        },
        "x-resourceId" : "v2.core.event_destination",
        "x-stripeResource" : {
          "in_package" : "v2.core",
          "class_name" : "EventDestination"
        },
        "x-stripeOperations" : [ {
          "method_name" : "list",
          "method_on" : "service",
          "method_type" : "list",
          "operation" : "get",
          "path" : "/v2/core/event_destinations"
        }, {
          "method_name" : "create",
          "method_on" : "service",
          "method_type" : "create",
          "operation" : "post",
          "path" : "/v2/core/event_destinations"
        }, {
          "method_name" : "delete",
          "method_on" : "service",
          "method_type" : "delete",
          "operation" : "delete",
          "path" : "/v2/core/event_destinations/{id}"
        }, {
          "method_name" : "retrieve",
          "method_on" : "service",
          "method_type" : "retrieve",
          "operation" : "get",
          "path" : "/v2/core/event_destinations/{id}"
        }, {
          "method_name" : "update",
          "method_on" : "service",
          "method_type" : "update",
          "operation" : "post",
          "path" : "/v2/core/event_destinations/{id}"
        }, {
          "method_name" : "disable",
          "method_on" : "service",
          "method_type" : "custom",
          "operation" : "post",
          "path" : "/v2/core/event_destinations/{id}/disable"
        }, {
          "method_name" : "enable",
          "method_on" : "service",
          "method_type" : "custom",
          "operation" : "post",
          "path" : "/v2/core/event_destinations/{id}/enable"
        } ]
      },
      "v2.error.account_controller_express_dash_without_application_losses_or_fees" : {
        "required" : [ "code", "message", "user_message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "account_controller_express_dash_without_application_losses_or_fees" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          },
          "user_message" : {
            "type" : "string",
            "description" : "A user-friendly message that can be shown to end-users"
          }
        },
        "description" : "If `dashboard` is `express`, `fees_collector` must be `application` and `losses_collector` must be `application`.",
        "x-stripeError" : {
          "code" : "account_controller_express_dash_without_application_losses_or_fees",
          "httpStatusCode" : 400
        }
      },
      "v2.error.account_controller_stripe_pricing_platform_liable" : {
        "required" : [ "code", "message", "user_message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "account_controller_stripe_pricing_platform_liable" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          },
          "user_message" : {
            "type" : "string",
            "description" : "A user-friendly message that can be shown to end-users"
          }
        },
        "description" : "If `losses_collector` is `application`, `fees_collector` must also be `application`.",
        "x-stripeError" : {
          "code" : "account_controller_stripe_pricing_platform_liable",
          "httpStatusCode" : 400
        }
      },
      "v2.error.account_controller_unsupported_configuration" : {
        "required" : [ "code", "doc_url", "invalid_permutation", "message", "user_message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "account_controller_unsupported_configuration" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          },
          "doc_url" : {
            "type" : "string",
            "description" : "A URL to more information about the error reported"
          },
          "user_message" : {
            "type" : "string",
            "description" : "A user-friendly message that can be shown to end-users"
          },
          "invalid_permutation" : {
            "required" : [ "dashboard", "fees_collector", "losses_collector" ],
            "type" : "object",
            "properties" : {
              "dashboard" : {
                "type" : "string",
                "description" : "The value provided for the dashboard field."
              },
              "fees_collector" : {
                "type" : "string",
                "description" : "The value provided for the fees_collector field."
              },
              "losses_collector" : {
                "type" : "string",
                "description" : "The value provided for the losses_collector field."
              }
            },
            "description" : "The invalid permutation provided."
          }
        },
        "description" : "Connect integration combination is not supported.",
        "x-stripeError" : {
          "code" : "account_controller_unsupported_configuration",
          "httpStatusCode" : 400
        }
      },
      "v2.error.account_controller_unsupported_configuration_private_preview" : {
        "required" : [ "code", "message", "user_message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "account_controller_unsupported_configuration_private_preview" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          },
          "user_message" : {
            "type" : "string",
            "description" : "A user-friendly message that can be shown to end-users"
          }
        },
        "description" : "Responsibility combinations is not supported in private preview.",
        "x-stripeError" : {
          "code" : "account_controller_unsupported_configuration_private_preview",
          "httpStatusCode" : 400
        }
      },
      "v2.error.account_country_unsupported_currency" : {
        "required" : [ "code", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "account_country_unsupported_currency" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          }
        },
        "description" : "Currency is not allowed for the account's country.",
        "x-stripeError" : {
          "code" : "account_country_unsupported_currency",
          "httpStatusCode" : 400
        }
      },
      "v2.error.account_create_activation_required" : {
        "required" : [ "code", "doc_url", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "account_create_activation_required" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          },
          "doc_url" : {
            "type" : "string",
            "description" : "A URL to more information about the error reported"
          }
        },
        "description" : "Platform must be activated to create connected accounts.",
        "x-stripeError" : {
          "code" : "account_create_activation_required",
          "httpStatusCode" : 400
        }
      },
      "v2.error.account_creation_invalid" : {
        "required" : [ "code", "message", "user_message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "account_creation_invalid" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          },
          "user_message" : {
            "type" : "string",
            "description" : "A user-friendly message that can be shown to end-users"
          }
        },
        "description" : "Account creation is invalid.",
        "x-stripeError" : {
          "code" : "account_creation_invalid",
          "httpStatusCode" : 400
        }
      },
      "v2.error.additional_legal_guardian_not_allowed" : {
        "required" : [ "code", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "additional_legal_guardian_not_allowed" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          }
        },
        "description" : "More than one legal guardian is added to an account.",
        "x-stripeError" : {
          "code" : "additional_legal_guardian_not_allowed",
          "httpStatusCode" : 400
        }
      },
      "v2.error.additional_representative_not_allowed" : {
        "required" : [ "code", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "additional_representative_not_allowed" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          }
        },
        "description" : "More than one representative is added to an account.",
        "x-stripeError" : {
          "code" : "additional_representative_not_allowed",
          "httpStatusCode" : 400
        }
      },
      "v2.error.additional_tos_only_allowed_for_legal_guardian" : {
        "required" : [ "code", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "additional_tos_only_allowed_for_legal_guardian" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          }
        },
        "description" : "Additional terms of service are signed by someone other than the legal guardian.",
        "x-stripeError" : {
          "code" : "additional_tos_only_allowed_for_legal_guardian",
          "httpStatusCode" : 400
        }
      },
      "v2.error.address_characters_invalid" : {
        "required" : [ "code", "message", "user_message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "address_characters_invalid" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          },
          "user_message" : {
            "type" : "string",
            "description" : "A user-friendly message that can be shown to end-users"
          }
        },
        "description" : "Invalid characters are provided for address fields.",
        "x-stripeError" : {
          "code" : "address_characters_invalid",
          "httpStatusCode" : 400
        }
      },
      "v2.error.address_country_identity_country_mismatch" : {
        "required" : [ "code", "message", "user_message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "address_country_identity_country_mismatch" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          },
          "user_message" : {
            "type" : "string",
            "description" : "A user-friendly message that can be shown to end-users"
          }
        },
        "description" : "Address country doesn't match identity country.",
        "x-stripeError" : {
          "code" : "address_country_identity_country_mismatch",
          "httpStatusCode" : 400
        }
      },
      "v2.error.address_country_mismatch" : {
        "required" : [ "code", "message", "user_message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "address_country_mismatch" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          },
          "user_message" : {
            "type" : "string",
            "description" : "A user-friendly message that can be shown to end-users"
          }
        },
        "description" : "Registered/script address country doesn't match residential address country.",
        "x-stripeError" : {
          "code" : "address_country_mismatch",
          "httpStatusCode" : 400
        }
      },
      "v2.error.address_country_required" : {
        "required" : [ "code", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "address_country_required" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          }
        },
        "description" : "Address country is required but not provided.",
        "x-stripeError" : {
          "code" : "address_country_required",
          "httpStatusCode" : 400
        }
      },
      "v2.error.address_postal_code_invalid" : {
        "required" : [ "code", "message", "user_message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "address_postal_code_invalid" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          },
          "user_message" : {
            "type" : "string",
            "description" : "A user-friendly message that can be shown to end-users"
          }
        },
        "description" : "Address postal code is invalid.",
        "x-stripeError" : {
          "code" : "address_postal_code_invalid",
          "httpStatusCode" : 400
        }
      },
      "v2.error.address_state_invalid" : {
        "required" : [ "code", "message", "user_message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "address_state_invalid" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          },
          "user_message" : {
            "type" : "string",
            "description" : "A user-friendly message that can be shown to end-users"
          }
        },
        "description" : "Address state is invalid.",
        "x-stripeError" : {
          "code" : "address_state_invalid",
          "httpStatusCode" : 400
        }
      },
      "v2.error.address_town_invalid" : {
        "required" : [ "code", "message", "user_message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "address_town_invalid" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          },
          "user_message" : {
            "type" : "string",
            "description" : "A user-friendly message that can be shown to end-users"
          }
        },
        "description" : "Address town is invalid.",
        "x-stripeError" : {
          "code" : "address_town_invalid",
          "httpStatusCode" : 400
        }
      },
      "v2.error.already_exists" : {
        "required" : [ "code", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "already_exists" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          },
          "type" : {
            "type" : "string",
            "description" : "The type of error returned",
            "enum" : [ "already_exists" ]
          }
        },
        "description" : "The resource already exists.",
        "x-stripeError" : {
          "code" : "already_exists",
          "type" : "already_exists",
          "httpStatusCode" : 400
        }
      },
      "v2.error.archived_card" : {
        "required" : [ "code", "message", "user_message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "archived_card" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          },
          "type" : {
            "type" : "string",
            "description" : "The type of error returned",
            "enum" : [ "quota_exceeded" ]
          },
          "user_message" : {
            "type" : "string",
            "description" : "A user-friendly message that can be shown to end-users"
          }
        },
        "description" : "User attempts to update an archived card error.",
        "x-stripeError" : {
          "code" : "archived_card",
          "type" : "quota_exceeded",
          "httpStatusCode" : 400
        }
      },
      "v2.error.archived_meter" : {
        "required" : [ "code", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "archived_meter" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          }
        },
        "description" : "The meter must be Active to submit events.",
        "x-stripeError" : {
          "code" : "archived_meter",
          "httpStatusCode" : 400
        }
      },
      "v2.error.archived_us_bank_account" : {
        "required" : [ "code", "message", "user_message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "archived_us_bank_account" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          },
          "user_message" : {
            "type" : "string",
            "description" : "A user-friendly message that can be shown to end-users"
          }
        },
        "description" : "Returned in cases where the bank account cannot be updated due to being archived.",
        "x-stripeError" : {
          "code" : "archived_us_bank_account",
          "httpStatusCode" : 400
        }
      },
      "v2.error.assignee_compartments_cap_reached" : {
        "required" : [ "code", "email", "max_limit", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "assignee_compartments_cap_reached" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          },
          "email" : {
            "type" : "string",
            "description" : "The email address of the user who has reached the max accounts limit."
          },
          "max_limit" : {
            "type" : "string",
            "description" : "The max accounts limit being applied for the user."
          }
        },
        "description" : "This error is thrown when the user to whom roles are being assigned has reached the max accounts limit.",
        "x-stripeError" : {
          "code" : "assignee_compartments_cap_reached",
          "httpStatusCode" : 422
        }
      },
      "v2.error.attach_payment_method_to_customer" : {
        "required" : [ "code", "doc_url", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "attach_payment_method_to_customer" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          },
          "doc_url" : {
            "type" : "string",
            "description" : "A URL to more information about the error reported"
          }
        },
        "description" : "Default payment method is added to the customer config before attaching it to the account using `/v1/payment_methods`.",
        "x-stripeError" : {
          "code" : "attach_payment_method_to_customer",
          "httpStatusCode" : 400
        }
      },
      "v2.error.auth_challenge_required_error" : {
        "required" : [ "action", "code", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "auth_challenge_required_error" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          },
          "action" : {
            "type" : "string",
            "description" : "The challenge action."
          },
          "schema" : {
            "type" : "string",
            "description" : "The challenge schema."
          }
        },
        "description" : "The user must perform additional auth challenges before this request can be processed.",
        "x-stripeError" : {
          "code" : "auth_challenge_required_error",
          "httpStatusCode" : 401
        }
      },
      "v2.error.balance_exchange_insufficient_funds" : {
        "required" : [ "code", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "balance_exchange_insufficient_funds" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          },
          "type" : {
            "type" : "string",
            "description" : "The type of error returned",
            "enum" : [ "insufficient_funds" ]
          }
        },
        "description" : "",
        "x-stripeError" : {
          "code" : "balance_exchange_insufficient_funds",
          "type" : "insufficient_funds",
          "httpStatusCode" : 400
        }
      },
      "v2.error.balance_exchange_not_allowed" : {
        "required" : [ "code", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "balance_exchange_not_allowed" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          }
        },
        "description" : "",
        "x-stripeError" : {
          "code" : "balance_exchange_not_allowed",
          "httpStatusCode" : 400
        }
      },
      "v2.error.billable_item_not_found" : {
        "required" : [ "code", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "billable_item_not_found" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          }
        },
        "description" : "Returned when the provided billable_item ID cannot be found.",
        "x-stripeError" : {
          "code" : "billable_item_not_found",
          "httpStatusCode" : 404
        }
      },
      "v2.error.billable_item_pricing_missing" : {
        "required" : [ "code", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "billable_item_pricing_missing" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          }
        },
        "description" : "Returned when a new pricing spec will result in a version change on the pricing plan, but the current version is missing a pricing spec for any billable item on its plan config.",
        "x-stripeError" : {
          "code" : "billable_item_pricing_missing",
          "httpStatusCode" : 400
        }
      },
      "v2.error.billing_cadence_active" : {
        "required" : [ "code", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "billing_cadence_active" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          }
        },
        "description" : "Returned when trying to cancel a billing cadence that has active subscriptions.",
        "x-stripeError" : {
          "code" : "billing_cadence_active",
          "httpStatusCode" : 400
        }
      },
      "v2.error.billing_cadence_canceled" : {
        "required" : [ "code", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "billing_cadence_canceled" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          }
        },
        "description" : "Returned when trying to cancel a billing cadence that has already been canceled.",
        "x-stripeError" : {
          "code" : "billing_cadence_canceled",
          "httpStatusCode" : 400
        }
      },
      "v2.error.billing_cadence_not_found" : {
        "required" : [ "code", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "billing_cadence_not_found" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          }
        },
        "description" : "Returned when the provided billing_cadence ID cannot be found.",
        "x-stripeError" : {
          "code" : "billing_cadence_not_found",
          "httpStatusCode" : 404
        }
      },
      "v2.error.billing_meter_event_session_expired" : {
        "required" : [ "code", "doc_url", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "billing_meter_event_session_expired" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          },
          "type" : {
            "type" : "string",
            "description" : "The type of error returned",
            "enum" : [ "temporary_session_expired" ]
          },
          "doc_url" : {
            "type" : "string",
            "description" : "A URL to more information about the error reported"
          }
        },
        "description" : "The temporary session token has expired.",
        "x-stripeError" : {
          "code" : "billing_meter_event_session_expired",
          "type" : "temporary_session_expired",
          "httpStatusCode" : 401
        }
      },
      "v2.error.blocked_card" : {
        "required" : [ "code", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "blocked_card" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          }
        },
        "description" : "Returned in cases where the card cannot be used due to previous suspicious activity.",
        "x-stripeError" : {
          "code" : "blocked_card",
          "httpStatusCode" : 400
        }
      },
      "v2.error.blocked_destination_bank_account" : {
        "required" : [ "code", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "blocked_destination_bank_account" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          }
        },
        "description" : "Returned in cases where the bank account cannot be used due to suspicious activity.",
        "x-stripeError" : {
          "code" : "blocked_destination_bank_account",
          "httpStatusCode" : 400
        }
      },
      "v2.error.blocked_us_bank_account" : {
        "required" : [ "code", "message", "user_message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "blocked_us_bank_account" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          },
          "type" : {
            "type" : "string",
            "description" : "The type of error returned",
            "enum" : [ "blocked_by_stripe" ]
          },
          "user_message" : {
            "type" : "string",
            "description" : "A user-friendly message that can be shown to end-users"
          }
        },
        "description" : "Returned in cases where the bank account cannot be used due to suspicious activity.",
        "x-stripeError" : {
          "code" : "blocked_us_bank_account",
          "type" : "blocked_by_stripe",
          "httpStatusCode" : 400
        }
      },
      "v2.error.can_create_platform_owned_onboarding_accounts_required" : {
        "required" : [ "code", "message", "user_message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "can_create_platform_owned_onboarding_accounts_required" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          },
          "user_message" : {
            "type" : "string",
            "description" : "A user-friendly message that can be shown to end-users"
          }
        },
        "description" : "Dormant accounts cannot create accounts where requirements collector is application (this is an account takeover prevention measure).",
        "x-stripeError" : {
          "code" : "can_create_platform_owned_onboarding_accounts_required",
          "httpStatusCode" : 400
        }
      },
      "v2.error.cannot_create_connected_account" : {
        "required" : [ "code", "doc_url", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "cannot_create_connected_account" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          },
          "doc_url" : {
            "type" : "string",
            "description" : "A URL to more information about the error reported"
          }
        },
        "description" : "Platform is in an invalid state and cannot create connected accounts.",
        "x-stripeError" : {
          "code" : "cannot_create_connected_account",
          "httpStatusCode" : 400
        }
      },
      "v2.error.cannot_create_new_account_rejected" : {
        "required" : [ "code", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "cannot_create_new_account_rejected" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          }
        },
        "description" : "Platform is in a rejected state and cannot create connected accounts.",
        "x-stripeError" : {
          "code" : "cannot_create_new_account_rejected",
          "httpStatusCode" : 400
        }
      },
      "v2.error.cannot_delete_account_with_balance" : {
        "required" : [ "code", "message", "user_message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "cannot_delete_account_with_balance" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          },
          "user_message" : {
            "type" : "string",
            "description" : "A user-friendly message that can be shown to end-users"
          }
        },
        "description" : "Account with Merchant or Recipient configuration with transfers feature cannot be closed because the account has a cash balance.",
        "x-stripeError" : {
          "code" : "cannot_delete_account_with_balance",
          "httpStatusCode" : 400
        }
      },
      "v2.error.cannot_delete_customer_with_available_cash_balance" : {
        "required" : [ "code", "doc_url", "message", "user_message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "cannot_delete_customer_with_available_cash_balance" ]
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message providing more details about the error"
          },
          "doc_url" : {
            "type" : "string",
            "description" : "A URL to more information about the error reported"
          },
          "user_message" : {
            "type" : "string",
            "description" : "A user-friendly message that can be shown to end-users"
          }
        },
        "description" : "Account with Customer configuration cannot be closed because the customer has a cash balance.",
        "x-stripeError" : {
          "code" : "cannot_delete_customer_with_available_cash_balance",
          "httpStatusCode" : 400
        }
      },
      "v2.error.cannot_invite_self" : {
        "required" : [ "code", "message", "user_message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "Short code to identify the error, should not be handled programmatically",
            "enum" : [ "cannot_invite_self" ]
          },
          "message" : {
            "type" : "string",
[...]
